.chart-page {
  width: 100%;
  min-height: 100vh;
  background: #f5f5f5;
  padding: calc(12px + var(--safe-area-top)) 0 60px;
  
  .chart-filter-container {
    padding: 12px 18px;
    .adm-segmented-group {
      overflow: hidden;
      border-radius: 8px;
    }
  }

  .content {
    padding: 0 18px;
  }
  .chart-legend {
    text-align: center;
  }
  .chart-container {
    user-select: none;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 8px;
    overflow: hidden;
  }
}
